<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/img6.jpg)' }">
          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <div class="text-center">
              <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
              <!--<h3 class="text-muted mb-3">Welcome in Creative Aligner</h3>-->
              <a routerLink="." class="creativealigner-logo d-block mb-2">Welcome to Creative Aligner</a>
              <div>
                <br />
                We have registered your account successfully. 
                <!-- Please contact your account manager for activation. -->
                <br />
                <br />
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-success" type="button" (click)="continueClick()">Continue</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
