<div class="row w-100 mx-0 auth-page login-page-bg">
  <div class="col-md-12 col-xl-12 mx-auto">
    <div class="card bg-inherit">
      <div class="row">
        <div class="col-md-6 pe-md-0 pl-0">
          <div class="auth-side-wrapper">
            <img src="assets/images/frame-logo.png" alt="" />
          </div>
        </div>
        <div class="col-md-6 ps-md-0">
          <div class="auth-form-wrapper">
            <div class="center-grid"> 
            <a routerLink="." class="creativealigner-logo d-block mb-2">Creative Aligner</a>
            <h5 class="sub-heading-text">Reset Password</h5>
            <form class="forms-sample" (ngSubmit)="resetClick()" [formGroup]="loginForm">
              <div class="mb-3 form-field">
                <label for="exampleInputEmail1" class="form-label">Enter email address to send reset email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="userName">
              </div>
              <div class="mb-3 form-field">
                <p *ngIf="loginFailed">
                  <span class="text-danger mt-1">{{errorMessage}}</span>
                </p>
              </div>
              <div>
                <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid || loading">
                  <span style="white-space:nowrap">
                    <span [style.visibility]="loading ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Send
                  </span>
                </button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
