// Custom variables
@import './../../../../assets/scss/variables';  

.custom_btn_icon{
    i {
        display: inline-block;
        font-size: 20px;
        text-align: left;
        margin-right: 0px;
        //color: $secondary;
        transition: all .3s ease-in-out;
      }
  
      svg {
        width: 20px;
        margin-right: 0px;
        //color: $secondary;
        transition: all .3s ease-in-out;
      }
      
      &:hover {

        // cursor: text;
        i,
        svg {
          transform: scale(1.3);
          //color: $primary;
        }
      }
}
.card{
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
 .btn-link {
    display: flex;
    align-items: center;
  }
  .radio-form-card-inline{

    .form-check-inline{
      padding:0;
      margin-bottom: 0;
      @media (max-width:767px) {
        margin-right:10px;
      }
      input[type="radio"]{
        display: none;
      }:checked + .form-check-label {
        color: #0C78A7;
        border-bottom: 4px #0C78A7 solid;
        font-weight: 700;
      }
      .form-check-label{
        padding:25px 15px 7px 15px;
        @media (max-width:991px){
          padding:0 0px 7px 0px;
          font-size: 12px;
        }
      }
    }
  }

  .radio-form-card-inline {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 15px 20px 0;
    margin-left: 15px;
    @media (max-width:1200px){
      padding: 10px 0px 0;
      margin-left: 0px;
     margin-right:0px;
    }
    .form-check-inline label {
      color:#85898D;
    }
    
       padding:0 15px 0px 15px;
       
  }
  .card-body {
    padding-top: 0;
    .flex-button  {

      .download-pdf{
        background-color: inherit;
        border: 0;
        padding: 0;
        margin: 0 4px;

        img{
          width: auto;
          height: auto;
        }
      }
    
    }
  }
 .btn.btn-link {
    display: flex;
    align-items: center;
  } 
}

.flex-card-top-inline {
	display: flex;
	justify-content: space-between;
 
  .card-title{
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #333333;
        height: 40px;
        @media (max-width:991px){
          font-size: 17px;
        }
   }

  .top-search-bar-item{
    .input-group-text {
      position: absolute;
      right: 1px;
      border: 0;
      background: inherit;
      border-radius: 0;
      top: 1px;
      z-index: 4;
    }
    .input-group{
      input[type="text"] {
        background: #FBFBFB;
        border: 1px solid #E0E0E0;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.04), inset -6px -6px 4px rgba(255, 255, 255, 0.3), inset 6px 6px 20px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        width: 380px;
        @media (max-width:1366px){
          width:100%;
        }
      }
    }
   

  }
 
 }
 .right-dashboard-options{

  .navbar-nav li a {
    color: rgba(12, 120, 167, 1);
  }

 }

 .cursor-point{
  cursor: pointer;
 }
 
