<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard/cases">Cases</a></li>
    <li class="breadcrumb-item active" aria-current="page">Submit Case</li>
  </ol>
</nav>

<div class="row">
  <!-- <div class="col-md-6 grid-margin"> -->
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">
        Case Submission - <span *ngIf="api.case.Data.Number" class="small-text"> No.
          #{{api.case.Data.CaseNumber}}</span>
      </h6>
      <ngb-alert [dismissible]="true" [type]="'warning'"
        *ngIf="!returnedAlertclosed && api.case.Data.CaseStage=='Returned'" (close)="returnedAlertclosed=true">
        <h4 class="alert-heading">Designer Notes:</h4>
        <p>{{api.case.Data.ReturnNotes}}</p>
      </ngb-alert>
      <aw-wizard *ngIf="!isLoading" #wizardForm [disableNavigationBar]="true" navBarLayout="large-filled">
        <aw-wizard-step stepTitle="Patient Information">
          <ng-template awWizardStepSymbol>01</ng-template>
          <form (ngSubmit)="saveCaseInformation()" #caseInfoForm="ngForm">
            <br />

            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input type="text" name="FirstName" class="form-control" placeholder="Enter first name"
                    [(ngModel)]="api.case.Data.FirstName" #FirstName="ngModel" minlength="3" required>
                  <p class="text-danger mt-1" *ngIf="FirstName.invalid && caseFormSubmited">First name of patient is
                    required</p>
                </div>
              </div><!-- Col -->
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input type="text" name="LastName" class="form-control" placeholder="Enter last name"
                    [(ngModel)]="api.case.Data.LastName" #LastName="ngModel" minlength="3" required>
                  <p class="text-danger mt-1" *ngIf="LastName.invalid && caseFormSubmited">Last name of patient is
                    required</p>
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Shipping Address</label>
                 
                  <ng-select [items]="addressesSource" name="ShippingAddressID" placeholder="Shipping Address"
                    bindLabel="display" bindValue="ID" [searchable]="false"
                    [(ngModel)]="api.case.Data.ShippingAddressID" #ShippingAddressID="ngModel" required>
                  </ng-select>
                  <p class="text-danger mt-1" *ngIf="ShippingAddressID.invalid && caseFormSubmited">Enter shipping
                    address</p>
                    <button type="button" class="btn btn-link" (click)="openAddressModal()"><img src="assets/images/add-shipping.png" alt=""> Add New Address</button>
                </div>
                
              </div><!-- Col -->
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">Gender</label>
                      <ng-select [items]="genderSource" name="Gender" placeholder="Gender" #GenderKind="ngModel"
                        bindLabel="name" bindValue="value" [searchable]="false" [(ngModel)]="api.case.Data.Gender" required>
                      </ng-select>
                      <p class="text-danger mt-1" *ngIf="GenderKind.invalid && caseFormSubmited">Select patient gender</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">Date Of Birth</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="DateOfBirth"
                          [(ngModel)]="api.case.Data.DateOfBirth" #DateOfBirth="ngModel" ngbDatepicker #d="ngbDatepicker"
                          [maxDate]="maxDate" [startDate]="startDate" required>
                        <button class="input-group-text" type="button" (click)="d.toggle()">
                          <i class="feather icon-calendar icon-md text-muted"></i>
                        </button>
                      </div>
                      <p class="text-danger mt-1" style="clear:both" *ngIf="DateOfBirth.invalid && caseFormSubmited">Date of
                        birth is not valid, example: 2010-11-20</p>
                    </div>
                  </div>
                </div>
                
                
              </div><!-- Col -->
            </div><!-- Row -->
           
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex justify-content-end mt-2">
                  <button class="btn btn-primary" type="submit" [disabled]="saving">
                    <span style="white-space:nowrap">
                      <span [style.visibility]="saving ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm"
                        role="status" aria-hidden="true"></span>
                      Continue
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Images & Impressions">
          <ng-template awWizardStepSymbol>02</ng-template>
          <form (ngSubmit)="saveCase(1)">
            <app-step-images [errorMessageUploadArch]="errorMessageUploadArch"></app-step-images>
            <div class="d-flex justify-content-end mt-2">
              <button class="btn btn-secondary me-2 border-button" type="button" awPreviousStep>Back</button>
              <button class="btn btn-primary" type="submit" [disabled]="saving">
                <span style="white-space:nowrap">
                  <span [style.visibility]="saving ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm"
                    role="status" aria-hidden="true"></span>
                  Continue
                </span>
              </button>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Perscription">
          <ng-template awWizardStepSymbol>03</ng-template>
          <form (ngSubmit)="saveCase(2)">

            <app-step-perscription>
            </app-step-perscription>

            <div class="d-flex justify-content-end mt-2">
              <button class="btn btn-secondary me-2 border-button" type="button" awPreviousStep>Back</button>
              <button class="btn btn-primary" type="submit" [disabled]="saving">
                <span style="white-space:nowrap">
                  <span [style.visibility]="saving ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm"
                    role="status" aria-hidden="true"></span>
                  Continue
                </span></button>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Terms & Agreement">
          <ng-template awWizardStepSymbol>04</ng-template>
          <form (ngSubmit)="submitCase()">
            <app-step-summary [TermsAgreement]="TermsAgreement">
            </app-step-summary>
            <div class="d-flex justify-content-end mt-2">
              <button class="btn btn-secondary me-2 border-button" type="button" awPreviousStep>Back</button>
              <button class="btn btn-primary" type="submit" [disabled]="saving">
                <span style="white-space:nowrap">
                  <span [style.visibility]="saving ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm"
                    role="status" aria-hidden="true"></span>
                    Submit
                </span></button>
            </div>
          </form>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Submission Completed">
          <ng-template awWizardStepSymbol>05</ng-template>
          <div class="text-center">
            <img src="assets/images/thank-you.png" alt="">
            <h3 class="text-color mb-3">Thank you !</h3>
            <div *ngIf="api.case.Data.ImpressionType == 'Digital'">
             <p class="des-text"> We’ve received your case, our team will revise the case & start preparing the digital setup,<br />
              kindly check your account within a couple of days.</p>
            </div>
            <div *ngIf="api.case.Data.ImpressionType == 'Physical'">
              <p class="des-text">  We’ve received your case, our team will contact you shortly to arrange for impression pick up</p>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" type="button" (click)="finishFunction()">Finish</button>
          </div>
        </aw-wizard-step>

      </aw-wizard>

      <div *ngIf="isLoading">Loading ......</div>
    </div>
  </div>
  <!-- </div> col -->

</div> <!-- row -->


<app-shipping-address [IsNew]="true" #shippingAddress (AddressesChanged)="addressChanged($event)">
</app-shipping-address>