<div class="row">
  <div class="col-md-12">
    <h6 class="card-title">Profile Settings</h6>
  </div>
</div>  
  <div class="outer-card-setting">
    <div class="row">
  <div class="col-md-12 col-lg-6 grid-margin stretch-card equal-padd-right">
   <div class="card">
      <div class="card-body">
        <div class="form-header">
           <h6 class="card-title">Personal information</h6>
           </div>
        <form class="form-horizontal row" (ngSubmit)="editUser()" #userform="ngForm">
          <div class="form-title mb-3 col-md-6">
               <label for="userNameID" class="form-label">First Name</label>
              <input type="text" class="form-control" name="Name" [(ngModel)]="user.Name" id="userNameID"
                placeholder="First Name" #userNameID="ngModel" required minlength="4">
              <p class="text-danger mt-1" *ngIf="userNameID.invalid && (userNameID.touched || userNameID.dirty)">User
                name is invalid</p>
            
          </div>
          <div class="form-title mb-3 col-md-6">
            <label for="userLastNameID" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="LastName" [(ngModel)]="user.LastName" id="userLastNameID"
                placeholder="Last Name" #userLastNameID="ngModel">
            
          </div>
          <div class="form-title mb-3 col-md-6">
            <label for="userEmailID" class="form-label">Email ID</label>
            <input type="email" class="form-control" name="Email" [(ngModel)]="user.Email" id="userEmailID"
                disabled />
           </div>
          <div class="form-title mb-3 col-md-6">
            <label for="userTelephoneID" class="form-label">Phone Number</label>
            <input type="text" class="form-control" name="Telephone" [(ngModel)]="user.Telephone" id="userTelephoneID"
                placeholder="Telephone number">
           </div>
          <div class="form-title mb-3 col-md-6">
            <label for="userSpecialityID" class="form-label">Speciality</label>
             <ng-select id="userSpecialityID" name="Speciality" [items]="specialities" [(ngModel)]="user.Speciality"
                placeholder="Select speciality" bindLabel="name" bindValue="value" #userCountryID="ngModel"
                [searchable]="false" required>
              </ng-select>
              <p class="text-danger mt-1" *ngIf="userCountryID.invalid">Speciality is required</p>
          
          </div>

          <div class="form-title mb-3 col-md-6">
            <label for="userCountryID" class="form-label">Country</label>
            <ng-select id="userCountryID" name="CountryID" [items]="countries" [(ngModel)]="user.CountryID"
                placeholder="Select country" bindLabel="Country" bindValue="ID" #userCountryID="ngModel" [searchable]="false"
                required>
              </ng-select>
              <p class="text-danger mt-1" *ngIf="userCountryID.invalid">Country is required</p>
            </div>

          <div class="form-title mb-3 col-md-6">
            <label for="userNotationSystemID" class="form-labell">Dental Notation</label>
             <ng-select id="userNotationSystemID" name="NotationSystem" [items]="notations"
                [(ngModel)]="user.NotationSystem" placeholder="Select notation" bindLabel="name" bindValue="value"
                #userNotationSystemID="ngModel" required [searchable]="false">
              </ng-select>
              <p class="text-danger mt-1" *ngIf="userNotationSystemID.invalid">Notation system is required</p>
           </div>

          <p class="text-success" *ngIf="savedSuccess == 1">You information submitted successfully</p>
          <p class="text-danger" *ngIf="savedSuccess == 2">Submitting your information failed</p>
          <br />
          <div class="col-md-12 mt-2 d-flex">
          <button type="submit" [disabled]="userform.invalid || savedSuccess == 3" class="btn btn-primary me-2">
            <span [style.visibility]="savedSuccess == 3 ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm"
              role="status" aria-hidden="true"></span>
            Save
          </button>
          <button type="button" class="btn btn-default me-2 border-button" (click)="changePassword()">
            Change Password
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-6 grid-margin stretch-card equal-padd-left">
    <div class="card">
      <div class="card-body">
        <div class="form-header">
          <h6 class="card-title">
            Addresses
          </h6>
          <button type="button" class="btn btn-link" (click)="newAddress()"> <img src="assets/images/add-shipping.png" alt=""> New Address</button>

        </div>
        
        <div class="addres-line-one" *ngFor="let address of addresses">
          <div class="address-text">
          <h6>{{address.ClinicName}}</h6>
          <p>{{address.Building}} {{address.Street}}</p>
          <p>{{address.City}}-{{auth.getCountry(address.CountryID)}}</p>
          <p>{{address.Phone}}</p>
          </div>
          <button type="button" class="btn btn-link" (click)="editAddress(address)">
           <img src="assets/images/edit-icon1.png" alt=""> 
          </button>
          <hr />
        </div>
        <div class="addres-line-one" *ngFor="let address of addresses">
          <div class="address-text">
          <h6>{{address.ClinicName}}</h6>
          <p>{{address.Building}} {{address.Street}}</p>
          <p>{{address.City}}-{{auth.getCountry(address.CountryID)}}</p>
          <p>{{address.Phone}}</p>
          </div>
          <button type="button" class="btn btn-link" (click)="editAddress(address)">
           <img src="assets/images/edit-icon1.png" alt=""> 
          </button>
          <hr />
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<app-shipping-address #addressCtr (AddressesChanged)="onAddressesChanged($event)" [IsNew]="isNew" [Current]="Current">
</app-shipping-address>
<app-user-password #changePassCtr></app-user-password>