<div *ngIf="case.Revisions && case.Revisions.length > 0" class="row" style="padding: 10px">
  <div class="col-lg-12">
    <h4 class="fw-bold mt-4 mb-2"><span class="text-muted">Digital Setups</span></h4>
    <div class="table-responsive">
      <table class="table table-hover">
       <!--  <thead>
          <tr>
            <th style="width: 10%">#</th>
            <th style="width: 20%">Version</th>
            <th style="width: 10%">Package</th>
            <th style="width: 10%">Price</th>
            <th style="width: 20%">Approval</th>
            <th style="width: 20%"></th>
            <th style="width: 10%"></th>
          </tr>
        </thead> -->
        <thead>
          <tr>
            <th style="width: 70%">Version</th>
            <th style="width: 30%">Actions</th>
          </tr>
        </thead> 
        <!-- <tbody>
          <tr *ngFor="let item of case.Revisions; let i = index" [id]="item.RevisionID">
            <th style="width: 10%"><span class="mb-2 text-muted"><b>{{item.RevisionNumber}}</b></span></th>
            <td style="width: 20%">
              <span class="mb-2 text-muted"><b>{{item.RevisionTitle}}</b></span>
            </td>
            <td style="width: 10%">
              <span class="mb-2">{{item.PackageName()}}</span>
            </td>
            <td style="width: 10%">
              <span class="mb-2">{{item.PackagePrice}}</span>
            </td>
            <td style="width: 20%">
            <span *ngIf="item.IsApproved" class="mb-2">Approved</span>
            <span *ngIf="!item.IsApproved"></span>
            </td>

            <td style="width: 20%">
             <app-view-revision #RevisionID [IsActive]="i == 0" [Revision]="item"></app-view-revision>
              <button class="btn btn-outline-primary" (click)="viewItem(item)">
                <i class="feather icon-eye"></i>
                View Digital Setup
              </button>
            </td>
            <td style="width: 10%">
              <button class="btn btn-outline-primary" *ngIf="canEdit()" (click)="editItem(item)">
                <i class="feather icon-edit"></i>
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
      <tbody>
        <tr *ngFor="let item of case.Revisions; let i = index" [id]="item.RevisionID">
          <td style="width: 70%">
            <span class="item-date">{{item.RevisionTitle}}</span>
          </td>
          <td style="width: 20%">
            <div class="flex-button">
              <button class="download-pdf" (click)="viewItem(item)"><img src="assets/images/view.png" alt=""></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div *ngIf="!case.Revisions || case.Revisions.length == 0" class="row">
  <div class="col-md-12">
    <div class="alert alert-primary text-center">
      No revision has been created yet!
    </div>
  </div>
</div>

<app-revision-edit  #revisionCtr (RevisionChanged)="onRevisionChanged($event)">

</app-revision-edit>
