.pagination {
      li:first-child{
        a{
          font-size:0;
        
        }::after {
          content: "\e92f";
          font-family: 'feather' !important;
          font-style: normal;
          font-weight: normal;
          font-feature-settings: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          color: rgba(199, 199, 199, 1);
          font-size: 22px;
          position: absolute;
          left: 3px;
          top: 5px;
        }
        
      }
      li   {
       
        a{
          border:0;
          height: 30px;
          width: 30px;
          border-radius: 100%;
          padding:0;
          text-align: center;
          line-height: 31px;
          margin-top:20px;
          color: rgba(165, 165, 165, 1);
        }
         
        
      }
      li:last-child{
        a{
          font-size:0;
          border:0;
        }::after {
          content: "\e930";
          font-family: 'feather' !important;
          font-style: normal;
          font-weight: normal;
          font-feature-settings: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          font-size: 22px;
          position: absolute;
          left: 3px;
          top: 5px;
        }

      }
      li.page-item.active {
        a {
          background: #0C78A7;
        }
      }
      li.page-item {
        a.page-link:hover{
          border-radius:100%;
        }

      }
  .pagination-separated & {
    .page-item {
      border:0;
      margin-left:2px;
      margin-right:2px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child  {
        margin-right: 0;
      }
      .page-link {
        border-radius:100%;
        height: 30px;
        width: 30px;
      }
      .page-link {
        border:0;
      }
    }
  }
  .pagination-rounded & {
    .page-item {
      margin-right: 3px;
      margin-left: 3px;
      .page-link {
        border-radius: 100%;
      }:hover{
        border-radius: 100%;
      }
    }
  }
}