// Tables 

.table {
  margin-bottom: 0;

  >:not(:last-child)>:last-child>* {
		border-bottom-color: inherit;
	}

  thead {
    th {
      border-top: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #0C78A7;
      text-transform: uppercase;
      //color: $text-muted;
      i {
        margin-left: 0.325rem;
      }
    }
  }

  th,
  td {
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    .item-number, .item-date {
      font-weight: 400;
      font-size: 14px;
      color: #85898D;
    }
    .st-badge{
      padding: 4px 12px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
    }
    .status-incomplete {
      background: rgba(255, 89, 89, 0.16);
      border-radius: 34px; 
      color: #FF5959;
     
    }
    .status-pending {
      background: rgba(255, 164, 56, 0.16);
      border-radius: 34px;
      color: rgba(255, 164, 56, 1);
     
    }
    .status-inprocess{
      background: rgba(56, 136, 255, 0.16);
      border-radius: 34px;
      color: #3888FF;
      .status-active{
        background: rgba(28, 193, 24, 0.16);
         border-radius: 34px;
         color: #1CC118;
      }
      .status-archived{
        background: rgba(255, 89, 89, 0.16);
        border-radius: 34px;
        color: #FF5959;
      }
    }
  }
  
  td {
    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
}
