<br />
<div class="row">
  <h4 class="card-title text-muted">Images</h4>
  <hr />
</div>
<div>
  <div class="row">
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageFrontal" dropZoneStyle="background:url(assets/images/placeholderimages/frontal.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Full Face Relaxed"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageFrontSmiling" dropZoneStyle="background:url(assets/images/placeholderimages/front_smiling.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Full Face Smiling"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageSide" dropZoneStyle="background:url(assets/images/placeholderimages/side.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Profile Relaxed"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageFrontNonSmiling" dropZoneStyle="background:url(assets/images/placeholderimages/front_pose.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Profile Smiling"></app-image-loader>
    </div> <!-- col -->
  </div>

  <div class="row">
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageRight" dropZoneStyle="background:url(assets/images/placeholderimages/right_buccal.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Right buccal"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageAdditional2" dropZoneStyle="background:url(assets/images/placeholderimages/placeholder.jpg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Occlusion"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageLeft" dropZoneStyle="background:url(assets/images/placeholderimages/left_buccal.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Left buccal"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImagePanoramic" dropZoneStyle="background:url(assets/images/placeholderimages/panoramic_xray.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Panoramic x-ray"></app-image-loader>
    </div> <!-- col -->
  </div>

  <div class="row">
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageUpper" dropZoneStyle="background:url(assets/images/placeholderimages/upper_occlusal.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Upper occlusal"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageLower" dropZoneStyle="background:url(assets/images/placeholderimages/lower_occlusal.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Lower occlusal"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageAdditional1" dropZoneStyle="background:url(assets/images/placeholderimages/placeholder.jpg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Extras"></app-image-loader>
    </div> <!-- col -->
    <div class="col-lg-3 grid-margin stretch-card">
      <app-image-loader ImageID="ImageCephalometric" dropZoneStyle="background:url(assets/images/placeholderimages/cephalometric_xray.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Cephalometric x-ray"></app-image-loader>
    </div> <!-- col -->
  </div>

  <div class="row">
    <h4 class="card-title text-muted">
      Impressions
    </h4>
    <hr />
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="mb-3">
        <label class="form-label">Select how you would like to submit your impressions:</label>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="impressionSubmit" [(ngModel)]="api.case.Data.ImpressionType" value="Digital" id="radioInline">
          <label class="form-check-label" for="radioInline">
            Digital
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="impressionSubmit" [(ngModel)]="api.case.Data.ImpressionType" value="Physical" id="radioInline1">
          <label class="form-check-label" for="radioInline1">
            Physical
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div id="digital" [ngbCollapse]="api.case.Data.ImpressionType != 'Digital'">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Upload 3D Scans
            </h4>
            <hr />
            <div class="row" *ngIf="errorMessageUploadArch">
              <div class="col-sm-12">
                <p class="text-danger mt-1">*. You should upload digital file to continue!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 grid-margin stretch-card">
                <app-file-loader ImageID="UpperArchScan" dropZoneStyle="background:url(assets/images/placeholderimages/upper.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Upload Upper Arch"></app-file-loader>

              </div> <!-- col -->
              <div class="col-lg-4 grid-margin stretch-card">
                <app-file-loader ImageID="LowerArchScan" dropZoneStyle="background:url(assets/images/placeholderimages/lower.svg); background-size:cover;overflow:hidden;height:150px;width:190px;" ImageTitle="Upload Lower Arch"></app-file-loader>

              </div> <!-- col -->
            </div><!-- Row -->
          </div>
        </div>
      </div>
      <div id="physical" [ngbCollapse]="api.case.Data.ImpressionType == 'Digital'">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Impression Pickup
            </h4>
            <hr />
            <p class="mb-0 mt-3 text-muted fw-normal">A courier service will contact you to arrange for the date and time of the impression pick-up.</p>
            <p class="mb-0 mt-3 text-muted fw-normal">Please keep in mind that impression trays won't be returned.</p>
            <h5 class="mt-5 mb-2 text-muted">Requirements:</h5>
            <ul>
              <li class="mb-0 mt-3 text-muted fw-normal">Clean, clear and sterilized impressions</li>
              <li class="mb-0 mt-3 text-muted fw-normal">Silicone impressions (Alginate impressions are not accepted)</li>
              <li class="mb-0 mt-3 text-muted fw-normal">ID and doctor name to be printed on the impression box .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
