<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard/cases">Cases</a></li>
    <li class="breadcrumb-item active" aria-current="page">Case Review</li>
  </ol>
</nav>


<div class="card user-profile-card">
  <div class="card-body ">
    <div *ngIf="isLoading">Loading ......</div>
    <div class="user-profile-data">
       <div class="user-profile-left">
          <div class="user-image">
            <figure><img [src]="imgUrl?imgUrl:'assets/images/placeholderimages/front_smiling.svg'" alt=""></figure>
          </div>
          <div class="user-details">
             <h5 class="user-title">{{api.case.Data.FirstName}} {{api.case.Data.LastName}}</h5>
             <div class="user-gender">
              <span class="gender-span">{{api.case.Data.Gender}}  </span>
               <span class="dob-span">DOB : </span>
               <span class="dtob-span">{{api.case.Data.DateOfBirth | date:'dd-MM-yyyy'}}</span>
             </div>
             <span class="st-badge status-pending">{{api.case.Data.getCaseStage}}</span>
          </div>
       </div>
       <div class="user-profile-right">
         <div class="filter-card-right">
          <button type="button" class="next-button"> <img src="assets/images/next-batch.png" alt=""> Next Batch</button>
          <button type="button"  class="refine-button"> <img src="assets/images/filter-cion.png" alt="">  Refinements</button>
          <button type="button"  class="retain-button"><img src="assets/images/teeth-icon.png" alt=""> Retainers</button>
         </div>
       </div>
    </div>
    <ul ngbNav #defaultNav="ngbNav" class="nav-tabs mt-3">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Digital Setups</a>
        <ng-template ngbNavContent>

          <!-- <div class="row" style="padding: 10px">
            <div class="col-sm-7">
              <div class="mb-3" style="display:flex">
                <img width="150" height="150" [src]="imgUrl" style="background: url(assets/images/placeholderimages/front_smiling.svg); margin-right: 20px" />
                <table>
                  <tr>
                    <td><span class="mb-3 text-muted">Patient Name: </span></td>
                    <td> <span class="mb-3">{{api.case.Data.FirstName}} {{api.case.Data.LastName}}</span></td>
                  </tr>
                  <tr>
                    <td><span class="mb-3 text-muted">Case No.: </span></td>
                    <td> <span class="mb-3">{{api.case.Data.CaseNumber}}</span></td>
                  </tr>
                  <tr>
                    <td><span class="mb-3 text-muted">Case Status: </span></td>
                    <td> <span class="mb-3">{{api.case.Data.getCaseStage}}</span></td>
                  </tr>
                  <tr>
                    <td><span class="mb-3 text-muted">Package: </span></td>
                    <td> <span class="mb-3">{{api.case.PackageName()}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-sm-5"></div>
          </div> -->
          <!-- <div class="row" style="padding: 10px">
            <div class="col-sm-12">
                <h6 class="inner-title">Digital Setups</h6>
                <div class="table-responsive mt-5">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="pt-0">Version</th>
                        <th class="pt-0">Actions</th>
                     </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="item-date">Revision 4 (New one)</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/view.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="item-date">Revision 3</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/view.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="item-date">Revision 2</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/view.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="item-date">Revision 1</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/view.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
        
                  
        
                </div>
            </div>
          </div> -->  

          <app-case-revisions-list [case]="api.case" [isOrthodontist]="false" [isAdmin]="false" [isDoctor]="auth.isDoctor()"></app-case-revisions-list>
          <app-case-shipping [case]="api.case"></app-case-shipping>
          
      <div class="footer-bottom">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center mt-2">
              <button *ngIf="api.case.Data.CaseStage=='Active' && api.case.Package.Package == 'Unlimited'" type="button" class="btn btn-primary me-2" (click)="doRequestNextShipment()"
                      aria-controls="nextShipment">
                <i class="feather icon-command icon-xs me-2"></i>
                <span style="white-space:nowrap">
                  Request Next Shipment
                </span>
              </button>
              <button *ngIf="api.case.Data.CaseStage=='Active' && api.case.Package.Package == 'Unlimited'" type="button" class="btn btn-primary me-2" (click)="doRequestMidcourseAdjusment()"
                      aria-controls="midcourse">
                <i class="feather icon-command icon-xs me-2"></i>
                <span style="white-space:nowrap">
                  Request Midcourse Adjusment
                </span>
              </button>
              <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doReplaceMissing()"
                      aria-controls="replaceMissing">
                <i class="feather icon-command icon-xs me-2"></i>
                <span style="white-space:nowrap">
                  Request Replace Missing
                </span>
              </button>
              <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doRequestRefinments()"
                      aria-controls="requestRefinments">
                <i class="feather icon-command icon-xs me-2"></i>
                <span style="white-space:nowrap">
                  Request Refinements
                </span>
              </button>
              <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doRequestRetainer()"
                      aria-controls="requestRetainer">
                <i class="feather icon-command icon-xs me-2"></i>
                <span style="white-space:nowrap">
                  Request Retainer
                </span>
              </button>
            </div>
            <div class="footer-buttons">
              <div class="left-buttons-card">
                <button type="button" class="btn-border"  >
                 <img src="assets/images/Missing.png" alt="">
                <span style="white-space:nowrap">
                  Missing Aligner
                </span>
              </button>
              <button type="button" class="btn-border"  >
                <img src="assets/images/Midcourse.png" alt="">
               <span style="white-space:nowrap">
                Midcourse adjustment
               </span>
             </button>
              </div>
             <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                      aria-controls="requestArchive">
                <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                <img src="assets/images/archive-icon.png" alt="">
                <span style="white-space:nowrap">
                  Archive
                </span>
              </button>
            </div>
          </div>
        </div>
        </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <app-case-review-details [caseData]="api.case"></app-case-review-details>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-buttons">
                  <div class="left-buttons-card">
                  </div>
                 <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                          aria-controls="requestArchive">
                    <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                    <img src="assets/images/archive-icon.png" alt="">
                    <span style="white-space:nowrap">
                      Archive
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Records</a>
        <ng-template ngbNavContent>
          <app-case-records [case]="api.case.Data"></app-case-records>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-buttons">
                  <div class="left-buttons-card">
                  </div>
                 <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                          aria-controls="requestArchive">
                    <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                    <img src="assets/images/archive-icon.png" alt="">
                    <span style="white-space:nowrap">
                      Archive
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Chat</a>
        <ng-template ngbNavContent>
          <app-chat></app-chat>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-buttons">
                  <div class="left-buttons-card">
                  </div>
                 <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                          aria-controls="requestArchive">
                    <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                    <img src="assets/images/archive-icon.png" alt="">
                    <span style="white-space:nowrap">
                      Archive
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>History</a>
        <ng-template ngbNavContent>
          <app-case-history [historyRecords]="api.case.HistoryRecords"></app-case-history>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-buttons">
                  <div class="left-buttons-card">
                  </div>
                 <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                          aria-controls="requestArchive">
                    <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                    <img src="assets/images/archive-icon.png" alt="">
                    <span style="white-space:nowrap">
                      Archive
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Shipments</a>
        <ng-template ngbNavContent>
          <div class="row" style="padding: 10px">
            <div class="col-sm-12">
                <h6 class="inner-title">Shipments</h6>
                <div class="table-responsive mt-5">
                  <table class="table table-hover">
                   <tbody>
                      <tr>
                        <td>
                          <span class="item-date">Treatment shipping policy</span>
                        </td>
                        <td>
                          <span class="item-date">Lower Arch : 1 to 10 of 30</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/downloadicon.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="item-date">Treatment shipping policy</span>
                        </td>
                        <td>
                          <span class="item-date">Lower Arch : 1 to 10 of 30</span>
                        </td>
                       <td>
                          <div class="flex-button">
                          <button class="download-pdf"><img src="assets/images/downloadicon.png" alt=""></button>
                           </div>
                        </td>
                      </tr>
                    
                      
                     
                    </tbody>
                  </table>
        
                  
        
                </div>
            </div>
          </div>  
          <div class="footer-bottom">
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-buttons">
                  <div class="left-buttons-card">
                    <button type="button" class="btn-border"  >
                      <img src="assets/images/Missing.png" alt="">
                      <span style="white-space:nowrap">
                        Missing Aligner
                      </span>
                    </button>
                    <button type="button" class="btn-border"  >
                      <img src="assets/images/Midcourse.png" alt="">
                      <span style="white-space:nowrap">
                        Midcourse adjustment
                      </span>
                    </button>
                  </div>
                  <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                          aria-controls="requestArchive">
                    <!-- <i class="feather icon-archive icon-xs me-2"></i> -->
                    <img src="assets/images/archive-icon.png" alt="">
                    <span style="white-space:nowrap">
                      Archive
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div *ngIf="!isLoading" [ngbNavOutlet]="defaultNav" class="mt-3"></div>
   <div *ngIf="api.case.Data.CaseStage == 'ReadyForImpressionsCollection'">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-primary me-2" (click)="isImpressionCollapsed = !isImpressionCollapsed"
                    [attr.aria-expanded]="!isImpressionCollapsed" aria-controls="impressionsShipped">
              <span style="white-space:nowrap">
                Impressions Shipped
              </span>
            </button>
          </div>
        </div>
      </div><!-- Row-->
      <div id="impressionsShipped" [ngbCollapse]="isImpressionCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-primary me-2" [disabled]="savingCase" (click)="impressions_Shipped()">
                  <span style="white-space:nowrap">
                    <span [style.visibility]="savingCase && isImpression ? 'visible' : 'hidden'"
                          class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Confirm
                  </span>
                </button>
              </div>
            </div> <!-- Row-->
          </div>
        </div>
      </div>
    </div>
    <div><!-- 
      <div class="footer-bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center mt-2">
            <button *ngIf="api.case.Data.CaseStage=='Active' && api.case.Package.Package == 'Unlimited'" type="button" class="btn btn-primary me-2" (click)="doRequestNextShipment()"
                    aria-controls="nextShipment">
              <i class="feather icon-command icon-xs me-2"></i>
              <span style="white-space:nowrap">
                Request Next Shipment
              </span>
            </button>
            <button *ngIf="api.case.Data.CaseStage=='Active' && api.case.Package.Package == 'Unlimited'" type="button" class="btn btn-primary me-2" (click)="doRequestMidcourseAdjusment()"
                    aria-controls="midcourse">
              <i class="feather icon-command icon-xs me-2"></i>
              <span style="white-space:nowrap">
                Request Midcourse Adjusment
              </span>
            </button>
            <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doReplaceMissing()"
                    aria-controls="replaceMissing">
              <i class="feather icon-command icon-xs me-2"></i>
              <span style="white-space:nowrap">
                Request Replace Missing
              </span>
            </button>
            <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doRequestRefinments()"
                    aria-controls="requestRefinments">
              <i class="feather icon-command icon-xs me-2"></i>
              <span style="white-space:nowrap">
                Request Refinements
              </span>
            </button>
            <button *ngIf="api.case.Data.CaseStage=='Active'" type="button" class="btn btn-primary me-2" (click)="doRequestRetainer()"
                    aria-controls="requestRetainer">
              <i class="feather icon-command icon-xs me-2"></i>
              <span style="white-space:nowrap">
                Request Retainer
              </span>
            </button>
          </div>
          <div class="footer-buttons">
            <div class="left-buttons-card">
              <button type="button" class="btn-border"  >
               <img src="assets/images/Missing.png" alt="">
              <span style="white-space:nowrap">
                Missing Aligner
              </span>
            </button>
            <button type="button" class="btn-border"  >
              <img src="assets/images/Midcourse.png" alt="">
             <span style="white-space:nowrap">
              Midcourse adjustment
             </span>
           </button>
            </div>
           <button type="button" class="btn btn-primary me-2" (click)="doArchived()"
                    aria-controls="requestArchive">
             <i class="feather icon-archive icon-xs me-2"></i> 
              <img src="assets/images/archive-icon.png" alt="">
              <span style="white-space:nowrap">
                Archive
              </span>
            </button>
          </div>
        </div>
      </div>
      </div> -->
    </div>
  </div>
</div>

<app-case-post #postcase></app-case-post>
