

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Terms and Agreement</h6>
        <div *ngIf="!loading" style="padding-bottom: 30px;">

          <br />
          <form>
            <div class="row">
              <div class="col-md-12">
                <quill-editor name="content_data" [(ngModel)]="entity.ContentData"
                              placeholder="Enter Text"
                              [modules]="quillConfig"
                              (onSelectionChanged)="onSelectionChanged($event)"
                              (onContentChanged)="onContentChanged($event)">
                </quill-editor>
              </div>
            </div>
            <br />
            <br />
            <div class="d-flex justify-content-center mt-2">

              <button class="btn btn-primary" type="button" (click)="saveContent()">
                <span [style.visibility]="isSaving ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Save
              </button>
            </div>

            <div class="d-flex justify-content-center mt-2">
              <p class="text-success" *ngIf="savedSuccess == 1">You information submitted successfully</p>
              <p class="text-danger" *ngIf="savedSuccess == 2">Submitting your information failed</p>
            </div>
          </form>
        </div>

        <div *ngIf="loading">
          loading ....
        </div>


      </div>
    </div>
  </div>
</div>
