<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"><img src="assets/images/close-icons.png" alt=""></button>
  </div>
  <form #passwordForm="ngForm"  (ngSubmit)="changePassword(modal)">
    <div class="modal-body row">
      <div class="col-md-12 mb-3">
        <label for="oldPassword" class="form-title">Old Password</label>
         <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                 [(ngModel)]="Current.OldPassword"
                 #oldPassword="ngModel" required minlength="6" placeholder="Enter your current password">
                 <span class="eye-icons"><img src="assets/images/password-icon.png" alt=""></span>
          <p class="text-danger mt-1" *ngIf="oldPassword.invalid && (oldPassword.touched || oldPassword.dirty)">Enter your current password</p>
       
      </div>
      <div class="col-md-12 mb-3">
        <label for="NewPassword" class="form-title">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword"
                 [(ngModel)]="Current.NewPassword" #NewPassword="ngModel" required minlength="6" placeholder="Enter your new password">
                 <span class="eye-icons"><img src="assets/images/password-icon.png" alt=""></span>
                 <p class="text-muted">Min. 6 characters</p>
          <p class="text-danger mt-1" *ngIf="NewPassword.invalid && (NewPassword.touched || NewPassword.dirty)">Enter your new password</p>
      </div>
      <div class="col-md-12 mb-3">
        <label for="ConfirmPassword" class="form-title">Confirm Password </label>
         <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"
                 [(ngModel)]="Current.ConfirmPassword" #ConfirmPassword="ngModel" required minlength="6" placeholder="Confirm your new password">
                 <span class="eye-icons"><img src="assets/images/password-icon.png" alt=""></span>
          <p class="text-danger mt-1" *ngIf="ConfirmPassword.invalid && (ConfirmPassword.touched || ConfirmPassword.dirty)">Confirm your new password</p>
       </div>

      <div *ngIf="isError" class="row mb-3">
        <label class="col-sm-9 col-form-label">
          <p class="text-danger"> {{errorMessage}}</p>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary border-button" (click)="modal.close('by: close button')">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid || postingPassword">
        <span style="white-space:nowrap">
          <span [style.visibility]="postingPassword ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Confirm
        </span>
      </button>
    </div>
  </form>
</ng-template>
