<div class="row w-100 mx-0 auth-page login-page-bg">
  <div class="col-md-12 col-xl-12 mx-auto">
    <div class="card bg-inherit">
      <div class="row">
        <div class="col-md-6 pe-md-0 pl-0">
          <div class="auth-side-wrapper">
            <img src="assets/images/frame-logo.png" alt="" />
          </div>
        </div>
        <div class="col-md-6 ps-md-0">
          <div class="auth-form-wrapper">
           <div class="center-grid"> 
            <a routerLink="." class="creativealigner-logo d-block mb-2">Creative aligner portal</a>
            <h5 class="sub-heading-text">Login to your account</h5>
            <form class="forms-sample" (ngSubmit)="loginClick()" [formGroup]="loginForm">
              <div class="mb-3 form-field">
                <label for="exampleInputEmail1" class="form-label">Email ID</label>
                <span class="input-icon"> <img src="assets/images/inputicon1.png" alt="" /></span>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="john@mail.com" formControlName="userName">
              </div>
              <div class="mb-3 form-field">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <span class="input-icon"> <img src="assets/images/inputicon2.png" alt="" /></span>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="123345" formControlName="userPassword">
              </div>
              <div class="mb-3 form-field">
                <p *ngIf="loginFailed"><span class="text-danger mt-1">{{errorMessage}}</span><br/>
                  <span *ngIf="invalidPassword">
                    If you forgot your password click
                    <a routerLink="/auth/forgot" class="mt-3 text-muted">here</a>
                  </span>
                </p>
              </div>
              <div class="form-field form-flex">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    Remember me
                  </label>
                </div>
                <a routerLink="/auth/forgot" class="anchor-link">Forgot Your Password?</a></div>
              <div>
                


                <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid || loading">
                  <span style="white-space:nowrap">
                    <span [style.visibility]="loading ? 'visible' : 'hidden'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Login
                  </span>
                </button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? <span class="provider">Become a Provider</span></a>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>